<section *ngIf="isLoaded">
  <div *ngIf="careerProgression.length>0" class="example-button-row">
    <button mat-button *ngFor="let role of careerProgression" [routerLink]="['/position-details',role.id]" [ngStyle]="{'background-color': role.color, 'width': '200px','color':'white'}">{{role.name}}</button>
  <!-- <div class="example-button-row"> -->
    <div *ngIf="careerProgressionByCluster.length>0">
      <button mat-button *ngFor="let role of careerProgressionByCluster" [routerLink]="['/position-details',role.id]" [ngStyle]="{'background-color': role.careerpathObj.color, 'width': '200px','color':'white'}">{{role.name}}</button>
    </div> 
</div>

</section>