<header class="header-main">
  <div class="header-img"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <a style="padding-left: 160px;" class="title" [routerLink]="['']">
          RolesNxT
        </a>
      </div>
      <div class="col-md-2">
        <a [routerLink]="['']">
          <img src="./assets/bosch.svg" width="150px" height="35" style="padding-right: 12px;">
        </a>
      </div>
      <div class="col-md-1"></div>
      <!-- <div class="row">Welcome, Hoang Le Minh (RBVH/ETM2)</div> -->
    </div>
    <div style="font-size: 0.7em;text-align: right;padding-right: 170px; font-weight: bold;">Welcome, Hoang Le Minh (RBVH/ETM2) </div>

  </div>
</header>