<div id="navcss" class="mainHeader">
  <nav class="navbar flex-md-nowrap navbar-fixed-top">
    <img
      class="image-responsive logo"
      src="../assets/Kainos-logo.svg"
      alt="Kainos logo"
      width="90"
      height="39"
    />
    <h1 id="CLtitle">{{ title }}</h1>

    <form class="form-inline my-2 my-lg-0 profileInfo">
      <span class="navbar-text userInfo"> 
        Hello, {{ username }} 
      </span>
      <i class="material-icons profileIcon">
          account_circle
        </i>
    </form>
  </nav>
</div>
