.header-img{
  background-image: url("../../../assets/header-background.png");
  height: 10px;
  width: auto;
  margin-bottom: 2px;
}

.header-main{
  background-color: white;
  height: 60px;;
  border-bottom: 1px #80808040 solid;
}

.title{
  color: #EA0016;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
}