<div *ngIf="isLoaded" class="container-fluid" style="background-color: whitesmoke;" class="custom-child custom-border">
  <div class="legend" style="position: absolute;">
    <p>Career Path</p>
    <ul *ngIf="careerPaths" class="legend">
      <li class="legend" *ngFor="let careerPath of careerPaths">
        <div class="input-color">
          <div>
            <div class="color-box" [ngStyle]="{'background-color': careerPath.color_code}"></div>
            <span>{{careerPath.career_path_name}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ngx-graph class="chart-container" [zoomToFit$]="zoomToFit$" [links]="links"
    [nodes]="nodes" [autoCenter]="autoCenter" [autoZoom]="autoZoom" [draggingEnabled]="draggingEnabled"
    [panningEnabled]="panningEnabled" [enableZoom]="zoomEnabled" [layoutSettings]="layoutSettings" [layout]="layout"
    [clusters]="clusters">
    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="12" markerHeight="14" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>
    <ng-template #nodeTemplate let-node>
      <svg:g [routerLink]="['/position-details',node.id]" (click)="gotoDetails(node.id)">
        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
          [attr.fill]="node.data.customColor" style="stroke-width:3;stroke:rgb(0,0,0)" />
        <svg:text style="fill: white;" alignment-baseline="central" [attr.x]="50" font-size="6em"
          [attr.y]="node.dimension.height / 2">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>
    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="3" marker-end="url(#arrow)">
        </svg:path>
      </svg:g>
    </ng-template>
    <ng-template #clusterTemplate let-cluster>
      <svg:g>
        <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
          [attr.fill]="cluster.data.color" />
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>