.jobBandText {
  padding: 0.5rem;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  z-index: -1;
}

.jobBand {
  margin: auto;
}

::ng-deep .card-body {
  padding: 10px 15px 0px 15px;
}

.roleSummary {
  padding-bottom: 2rem;
}

#leadName {
  padding-bottom: 0.1rem;
  text-align: center;
}

#capabilityLeadTitle{
  font-weight: bold;
}

#leadMessage{
  font-style: italic;
}
.leadSummary{
  padding-left: 0.9rem;
  font-size: 12px;

}

#noLeadSummary {
  font-style: italic;
}

#capPhoto{
  float: right;
}
#border{
  display: block;
  border-bottom:1pt solid black;

}

.roleCap {
  padding: 5px 12px 5px 12px;
}
