<div  class="bg-container" style="padding-left: 178px; padding-top: 20px;">
    <div *ngFor="let item of result" style="margin-top: 40px;max-width: 255px">
        <div><b>{{item.name}}</b></div>
        <a *ngFor="let department of item.items" [routerLink]="['position',department.id]" mat-raised-button
        [ngStyle]="{'background-color': department.color,'margin-top': '10px','color': 'white'}">{{department.name}}</a>
        <a *ngIf="item.name=='IT'" [routerLink]="['position/it',2]" [ngStyle]="{'background-color': '#50237e','margin-top': '10px','color': 'white'}" mat-raised-button>ETI</a>
      </div>
</div>
