<div class="text-center title">ETI - Career Lattice</div>
<div class="legend">

  <ul *ngIf="careerPaths" class="legend">
    <p style="margin-left: 10px;margin-right: 15px;">Career Path:</p>
    <li class="legend" *ngFor="let careerPath of careerPaths">
      <div class="input-color" [ngStyle]="{'background-color': careerPath.color}">
        <div>
          <label>
            <input type="checkbox" [checked]="checked_default[careerPath.id]"
              [(ngModel)]="checked_default[careerPath.id]" name="options" value="{{careerPath.name}}"
              (change)="filterCareerPathaByID(careerPath.id, $event)" />
            {{careerPath.name}}
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1598 776.7">
  <defs>
    <style>
      .cls-1 {
        fill: #1f78be;
      }

      .cls-2,
      .cls-54 {
        fill: none;
      }

      .cls-25,
      .cls-3,
      .cls-46 {
        isolation: isolate;
        font-family: BoschSans-Medium, Bosch Sans;
      }

      .cls-25,
      .cls-3 {
        font-size: 30.35px;
      }

      .cls-25,
      .cls-3,
      .cls-46,
      .cls-55 {
        fill: #fff;
      }

      .cls-4 {
        letter-spacing: 0em;
      }

      .cls-5 {
        letter-spacing: 0em;
      }

      .cls-6 {
        letter-spacing: 0em;
      }

      .cls-7 {
        fill: #66b445;
      }

      .cls-8 {
        letter-spacing: 0.01em;
      }

      .cls-9 {
        letter-spacing: -0.01em;
      }

      .cls-10 {
        letter-spacing: -0.01em;
      }

      .cls-11 {
        letter-spacing: -0.01em;
      }

      .cls-12 {
        letter-spacing: 0em;
      }

      .cls-13 {
        letter-spacing: 0em;
      }

      .cls-14 {
        letter-spacing: 0em;
      }

      .cls-15 {
        letter-spacing: -0.01em;
      }

      .cls-16 {
        letter-spacing: -0.01em;
      }

      .cls-17 {
        letter-spacing: -0.01em;
      }

      .cls-18 {
        letter-spacing: 0.04em;
      }

      .cls-19 {
        letter-spacing: 0.01em;
      }

      .cls-20 {
        letter-spacing: -0.01em;
      }

      .cls-21 {
        letter-spacing: 0em;
      }

      .cls-22 {
        letter-spacing: -0.01em;
      }

      .cls-23 {
        letter-spacing: -0.02em;
      }

      .cls-24 {
        letter-spacing: 0em;
      }

      .cls-25 {
        letter-spacing: 0em;
      }

      .cls-26 {
        letter-spacing: 0.01em;
      }

      .cls-27 {
        letter-spacing: -0.01em;
      }

      .cls-28 {
        letter-spacing: 0.01em;
      }

      .cls-29 {
        fill: #94c954;
      }

      .cls-30 {
        letter-spacing: 0em;
      }

      .cls-31 {
        letter-spacing: 0.04em;
      }

      .cls-32 {
        letter-spacing: 0em;
      }

      .cls-33 {
        letter-spacing: -0.01em;
      }

      .cls-34 {
        letter-spacing: 0.03em;
      }

      .cls-35 {
        fill: #1299a0;
      }

      .cls-36 {
        letter-spacing: -0.01em;
      }

      .cls-37 {
        letter-spacing: 0.01em;
      }

      .cls-38 {
        letter-spacing: 0.01em;
      }

      .cls-39 {
        letter-spacing: 0.03em;
      }

      .cls-40 {
        letter-spacing: -0.01em;
      }

      .cls-41 {
        letter-spacing: -0.02em;
      }

      .cls-42 {
        letter-spacing: -0.02em;
      }

      .cls-43 {
        letter-spacing: -0.06em;
      }

      .cls-44 {
        letter-spacing: -0.01em;
      }

      .cls-45 {
        fill: #1b447d;
      }

      .cls-46 {
        font-size: 35.09px;
      }

      .cls-47 {
        letter-spacing: -0.07em;
      }

      .cls-48 {
        letter-spacing: 0em;
      }

      .cls-49 {
        letter-spacing: -0.01em;
      }

      .cls-50 {
        letter-spacing: 0em;
      }

      .cls-51 {
        letter-spacing: -0.01em;
      }

      .cls-52 {
        letter-spacing: 0em;
      }

      .cls-53 {
        letter-spacing: 0em;
      }

      .cls-54 {
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }
    </style>
  </defs>
  <title>map</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <g id="CT01" (click)="navigateToDetails('6')">
        <polygon class="cls-1"
          points="467.26 0 0 0 0 98.78 95.45 98.78 95.45 227.99 371.81 227.99 371.81 98.78 467.26 98.78 467.26 0" />
        <rect class="cls-2" x="134.08" y="41.27" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(160.2 64.15)">
          <tspan class="cls-4">C</tspan>
          <tspan x="22.2" y="0">oE H</tspan>
          <tspan class="cls-5" x="92.62" y="0">e</tspan>
          <tspan class="cls-6" x="110.09" y="0">ad</tspan>
        </text></g>
      <g id="RE_01" data-name="RE 01" (click)="navigateToDetails('15')">
        <polygon class="cls-7"
          points="922.05 0 839.93 0 839.93 333.79 922.05 333.79 922.05 98.61 1359.67 98.61 1359.67 0 922.05 0" />
        <rect class="cls-2" x="1000.16" y="41.27" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(1003.79 64.15)">P<tspan class="cls-8" x="20.42" y="0">r</tspan>
          <tspan class="cls-9" x="33.48" y="0">a</tspan>
          <tspan class="cls-10" x="50.15" y="0">c</tspan>
          <tspan x="62.94" y="0">t</tspan>
          <tspan class="cls-11" x="72.92" y="0">i</tspan>
          <tspan class="cls-12" x="75.23" y="0">ce H</tspan>
          <tspan class="cls-13" x="137.18" y="0">e</tspan>
          <tspan x="154.65" y="0">ad</tspan>
        </text></g>
      <g id="RE_04" data-name="RE 04" (click)="navigateToDetails('13')">
        <rect class="cls-7" x="930.6" y="450.6" width="428.98" height="106.05" />
        <rect class="cls-2" x="972.3" y="489.65" width="345.66" height="42.9" /><text class="cls-3"
          transform="translate(1015.3 512.55)">
          <tspan class="cls-14">D</tspan>
          <tspan class="cls-15" x="22.98" y="0">e</tspan>
          <tspan class="cls-12" x="40.32" y="0">l</tspan>
          <tspan class="cls-16" x="50.74" y="0">i</tspan>
          <tspan class="cls-17" x="59.56" y="0">v</tspan>
          <tspan x="74.79" y="0">e</tspan>
          <tspan class="cls-18" x="92.41" y="0">r</tspan>
          <tspan x="106.31" y="0">y Man</tspan>
          <tspan class="cls-19" x="195.35" y="0">a</tspan>
          <tspan class="cls-20" x="212.55" y="0">g</tspan>
          <tspan x="229.64" y="0">er</tspan>
        </text></g>
      <g id="RE_02" data-name="RE 02" (click)="navigateToDetails('14')">
        <rect class="cls-7" x="930.6" y="105.54" width="210.22" height="335.07" />
        <rect class="cls-2" x="937.86" y="247.56" width="199.19" height="78.79" /><text class="cls-3"
          transform="translate(944.28 270.41)">
          <tspan class="cls-21">C</tspan>
          <tspan class="cls-12" x="22.2" y="0">o</tspan>
          <tspan class="cls-10" x="40.83" y="0">m</tspan>
          <tspan x="68.03" y="0">p</tspan>
          <tspan class="cls-22" x="87.54" y="0">e</tspan>
          <tspan class="cls-23" x="104.86" y="0">t</tspan>
          <tspan x="116.24" y="0">en</tspan>
          <tspan class="cls-24" x="152.55" y="0">c</tspan>
          <tspan x="169.34" y="0">y </tspan>
        </text><text class="cls-3" transform="translate(1001.62 306.82)">
          <tspan class="cls-10">L</tspan>
          <tspan class="cls-13" x="17.31" y="0">e</tspan>
          <tspan x="34.78" y="0">ad</tspan>
        </text></g>
      <g id="RE_06" data-name="RE 06" (click)="navigateToDetails('18')">
        <rect class="cls-7" x="1368.47" y="225.69" width="229.53" height="215" />
        <rect class="cls-2" x="1383.68" y="296.27" width="199.19" height="78.79" /><text class="cls-25"
          transform="translate(1414.04 319.17)">R<tspan class="cls-26" x="20.78" y="0">e</tspan>
          <tspan class="cls-12" x="38.56" y="0">sou</tspan>
          <tspan class="cls-27" x="91.48" y="0">r</tspan>
          <tspan class="cls-11" x="103.99" y="0">c</tspan>
          <tspan class="cls-12" x="120.29" y="0">e </tspan>
        </text><text class="cls-3" transform="translate(1419.08 355.57)">Man<tspan class="cls-28" x="63.47" y="0">a
          </tspan>
          <tspan class="cls-20" x="80.67" y="0">g</tspan>
          <tspan x="97.76" y="0">er</tspan>
        </text></g>
      <g id="RE_05" data-name="RE 05" (click)="navigateToDetails('17')">
        <rect class="cls-29" x="1368.47" width="229.53" height="215" />
        <rect class="cls-2" x="1383.68" y="74.6" width="199.19" height="78.79" /><text class="cls-25"
          transform="translate(1414.04 97.43)">R<tspan class="cls-26" x="20.78" y="0">e</tspan>
          <tspan class="cls-12" x="38.56" y="0">sou</tspan>
          <tspan class="cls-27" x="91.48" y="0">r</tspan>
          <tspan class="cls-11" x="103.99" y="0">c</tspan>
          <tspan class="cls-12" x="120.29" y="0">e </tspan>
        </text><text class="cls-3" transform="translate(1444.89 133.84)">H<tspan class="cls-13" x="22.57" y="0">e
          </tspan>
          <tspan x="40.04" y="0">ad</tspan>
        </text></g>
      <g id="RE_03" data-name="RE 03" (click)="navigateToDetails('16')">
        <rect class="cls-7" x="1149.36" y="105.54" width="210.22" height="335.07" />
        <rect class="cls-2" x="1154.92" y="221.16" width="199.19" height="146.9" /><text class="cls-3"
          transform="translate(1199.9 243.99)">
          <tspan class="cls-30">S</tspan>
          <tspan class="cls-12" x="19.9" y="0">e</tspan>
          <tspan class="cls-31" x="37.52" y="0">r</tspan>
          <tspan class="cls-32" x="51.44" y="0">v</tspan>
          <tspan x="66.94" y="0">i</tspan>
          <tspan class="cls-33" x="75.92" y="0">c</tspan>
          <tspan x="92.22" y="0">e </tspan>
        </text><text class="cls-3" transform="translate(1193.67 280.39)">
          <tspan class="cls-14">D</tspan>
          <tspan class="cls-15" x="22.98" y="0">e</tspan>
          <tspan class="cls-12" x="40.32" y="0">l</tspan>
          <tspan class="cls-16" x="50.74" y="0">i</tspan>
          <tspan class="cls-17" x="59.56" y="0">v</tspan>
          <tspan x="74.79" y="0">e</tspan>
          <tspan class="cls-18" x="92.41" y="0">r</tspan>
          <tspan x="106.31" y="0">y </tspan>
        </text><text class="cls-3" transform="translate(1190.42 316.79)">Man<tspan class="cls-28" x="63.47" y="0">a
          </tspan>
          <tspan class="cls-20" x="80.67" y="0">g</tspan>
          <tspan x="97.76" y="0">er</tspan>
        </text></g>
      <g id="CT_03" data-name="CT 03" (click)="navigateToDetails('8')">
        <polygon class="cls-1"
          points="380.36 236.45 380.36 106.48 467.26 106.48 467.26 236.45 467.26 238.33 467.26 335.67 237.74 335.67 237.74 236.45 380.36 236.45" />
        <rect class="cls-2" x="252.95" y="273.11" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(303.56 295.96)">Expe<tspan class="cls-34" x="73.1" y="0">r</tspan>
          <tspan x="86.87" y="0">t</tspan>
        </text></g>
      <g id="RT_01" data-name="RT 01" (click)="navigateToDetails('11')">
        <rect class="cls-35" x="494.04" width="229.53" height="335.75" />
        <rect class="cls-2" x="509.25" y="145.44" width="199.19" height="82.55" /><text class="cls-3"
          transform="translate(555.32 168.28)">P<tspan class="cls-36" x="20.42" y="0">r</tspan>
          <tspan class="cls-16" x="32.88" y="0">o</tspan>
          <tspan x="51.35" y="0">je</tspan>
          <tspan class="cls-37" x="77.81" y="0">c</tspan>
          <tspan x="94.84" y="0">t </tspan>
        </text><text class="cls-3" transform="translate(512.59 204.68)">Man<tspan class="cls-38" x="63.47" y="0">a
          </tspan>
          <tspan class="cls-20" x="80.68" y="0">g</tspan>
          <tspan class="cls-6" x="97.76" y="0">er A</tspan>
          <tspan class="cls-39" x="157.82" y="0">/</tspan>
          <tspan x="171.93" y="0">B</tspan>
        </text></g>
      <g id="RT_02" data-name="RT 02" (click)="navigateToDetails('10')">
        <rect class="cls-35" x="494.04" y="341.39" width="229.53" height="206.71" />
        <rect class="cls-2" x="509.25" y="415.91" width="199.19" height="82.55" /><text class="cls-3"
          transform="translate(555.32 438.74)">P<tspan class="cls-36" x="20.42" y="0">r</tspan>
          <tspan class="cls-16" x="32.88" y="0">o</tspan>
          <tspan x="51.35" y="0">je</tspan>
          <tspan class="cls-37" x="77.81" y="0">c</tspan>
          <tspan x="94.84" y="0">t </tspan>
        </text><text class="cls-3" transform="translate(528.66 475.14)">Man<tspan class="cls-38" x="63.47" y="0">a
          </tspan>
          <tspan class="cls-20" x="80.68" y="0">g</tspan>
          <tspan class="cls-6" x="97.76" y="0">er C</tspan>
        </text></g>
      <g id="RT_03" data-name="RT 03" (click)="navigateToDetails('9')">
        <rect class="cls-35" x="494.04" y="554.09" width="229.53" height="99.3" />
        <rect class="cls-2" x="509.25" y="571.43" width="199.19" height="82.55" /><text class="cls-3"
          transform="translate(555.32 594.3)">P<tspan class="cls-36" x="20.42" y="0">r</tspan>
          <tspan class="cls-16" x="32.88" y="0">o</tspan>
          <tspan x="51.35" y="0">je</tspan>
          <tspan class="cls-37" x="77.81" y="0">c</tspan>
          <tspan x="94.84" y="0">t </tspan>
        </text><text class="cls-3" transform="translate(528.4 630.71)">Man<tspan class="cls-38" x="63.47" y="0">a
          </tspan>
          <tspan class="cls-20" x="80.68" y="0">g</tspan>
          <tspan class="cls-6" x="97.76" y="0">er D</tspan>
        </text></g>
      <g id="CT_05" data-name="CT 05" (click)="navigateToDetails('4')">
        <rect class="cls-1" x="237.73" y="341.39" width="229.53" height="99.3" />
        <rect class="cls-2" x="252.95" y="379.93" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(284.75 402.81)">A<tspan class="cls-40" x="19.95" y="0">r</tspan>
          <tspan class="cls-41" x="32.45" y="0">c</tspan>
          <tspan x="48.71" y="0">hi</tspan>
          <tspan class="cls-42" x="76.38" y="0">t</tspan>
          <tspan class="cls-6" x="87.76" y="0">e</tspan>
          <tspan class="cls-37" x="105.38" y="0">c</tspan>
          <tspan x="122.41" y="0">t</tspan>
        </text></g>
      <g id="CT_07" data-name="CT 07" (click)="navigateToDetails('7')">
        <rect class="cls-1" x="237.73" y="448.81" width="229.53" height="99.3" />
        <rect class="cls-2" x="252.95" y="487.18" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(253.08 509.99)">S<tspan class="cls-43" x="19.93" y="0">r</tspan>
          <tspan x="30.73" y="0">. Speciali</tspan>
          <tspan class="cls-16" x="155.1" y="0">s</tspan>
          <tspan x="168.69" y="0">t</tspan>
        </text></g>
      <g id="CT_09" data-name="CT 09" (click)="navigateToDetails('7')">
        <rect class="cls-1" x="237.73" y="554.09" width="229.53" height="99.3" />
        <rect class="cls-2" x="252.95" y="588.18" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(279.03 611.08)">Speciali<tspan class="cls-44" x="119.13" y="0">s</tspan>
          <tspan x="134.72" y="0">t</tspan>
        </text></g>
      <g id="BT_01" data-name="BT 01" (click)="navigateToDetails('1')">
        <rect class="cls-45" x="0.6" y="677.4" width="1597.4" height="99.3" />
        <rect class="cls-2" x="406.85" y="709.02" width="739.78" height="49.48" /><text class="cls-46"
          transform="translate(473.79 735.41)">
          <tspan class="cls-47">T</tspan>
          <tspan class="cls-48" x="18.04" y="0">e</tspan>
          <tspan x="38.24" y="0">am member / Mem</tspan>
          <tspan class="cls-49" x="352.19" y="0">ber</tspan>
          <tspan class="cls-51" x="420.99" y="0">En</tspan>
          <tspan class="cls-52" x="465.22" y="0">gineer</tspan>
        </text></g>
      <g id="CT_02" data-name="CT 02" (click)="navigateToDetails('5')">
        <polygon class="cls-1"
          points="87.59 236.45 87.59 106.48 0.6 106.48 0.6 236.45 0.6 238.33 0.6 335.67 230.13 335.67 230.13 236.45 87.59 236.45" />
        <rect class="cls-2" x="15.81" y="256.36" width="199.19" height="68.28" /><text class="cls-3"
          transform="translate(48.68 279.19)">P<tspan class="cls-53" x="20.42" y="0">r</tspan>
          <tspan class="cls-6" x="33.27" y="0">incipal </tspan>
        </text><text class="cls-3" transform="translate(33.3 315.59)">
          <tspan class="cls-4">C</tspan>
          <tspan x="22.2" y="0">onsultant</tspan>
        </text></g>
      <g id="CT_04" data-name="CT 04" (click)="navigateToDetails('4')">
        <rect class="cls-1" x="0.6" y="341.39" width="229.53" height="99.3" />
        <rect class="cls-2" x="15.81" y="379.93" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(47.65 402.81)">A<tspan class="cls-40" x="19.95" y="0">r</tspan>
          <tspan class="cls-41" x="32.45" y="0">c</tspan>
          <tspan x="48.71" y="0">hi</tspan>
          <tspan class="cls-42" x="76.38" y="0">t</tspan>
          <tspan class="cls-6" x="87.76" y="0">e</tspan>
          <tspan class="cls-37" x="105.38" y="0">c</tspan>
          <tspan x="122.41" y="0">t</tspan>
        </text></g>
      <g id="CT_06" data-name="CT 06" (click)="navigateToDetails('3')">
        <rect class="cls-1" x="0.6" y="448.81" width="229.53" height="99.3" />
        <rect class="cls-2" x="15.81" y="467.09" width="199.19" height="67.34" /><text class="cls-3"
          transform="translate(79.56 489.97)">
          <tspan class="cls-10">L</tspan>
          <tspan class="cls-13" x="17.31" y="0">e</tspan>
          <tspan x="34.78" y="0">ad </tspan>
        </text><text class="cls-3" transform="translate(33.33 526.38)">
          <tspan class="cls-4">C</tspan>
          <tspan x="22.2" y="0">onsultant</tspan>
        </text></g>
      <g id="CT_08" data-name="CT 08" (click)="navigateToDetails('2')">
        <rect class="cls-1" x="0.6" y="554.09" width="229.53" height="99.3" />
        <rect class="cls-2" x="15.81" y="588.18" width="199.19" height="42.9" /><text class="cls-3"
          transform="translate(33.33 611.08)">
          <tspan class="cls-4">C</tspan>
          <tspan x="22.2" y="0">onsultant</tspan>
        </text></g>
      <line class="cls-54" x1="449.42" y1="700.15" x2="449.42" y2="644.4" />
      <polygon class="cls-55" points="449.42 630.71 441.51 644.4 457.32 644.4 449.42 630.71" />
      <line class="cls-54" x1="447.44" y1="605.18" x2="503.2" y2="605.18" />
      <polygon class="cls-55" points="516.89 605.18 503.2 597.28 503.2 613.09 516.89 605.18" />
      <line class="cls-54" x1="455.69" y1="500.76" x2="503.2" y2="500.76" />
      <polygon class="cls-55" points="516.89 500.76 503.2 492.86 503.2 508.67 516.89 500.76" />
      <line class="cls-54" x1="455.69" y1="391.04" x2="503.2" y2="391.04" />
      <polygon class="cls-55" points="516.89 391.04 503.2 383.13 503.2 398.94 516.89 391.04" />
      <line class="cls-54" x1="708.45" y1="503.63" x2="951.16" y2="503.63" />
      <polygon class="cls-55" points="964.85 503.63 951.16 495.72 951.16 511.53 964.85 503.63" />
      <line class="cls-54" x1="708.45" y1="225.69" x2="865.7" y2="225.69" />
      <polygon class="cls-55" points="879.4 225.69 865.71 217.78 865.71 233.59 879.4 225.69" />
      <line class="cls-54" x1="703.89" y1="28.97" x2="865.7" y2="28.97" />
      <polygon class="cls-55" points="879.4 28.97 865.71 21.06 865.71 36.87 879.4 28.97" />
      <polygon class="cls-55" points="690.19 28.97 703.88 36.87 703.88 21.06 690.19 28.97" />
      <line class="cls-54" x1="447.86" y1="28.97" x2="515.58" y2="28.97" />
      <polygon class="cls-55" points="528.4 28.97 514.71 21.06 514.71 36.87 528.4 28.97" />
      <polygon class="cls-55" points="433.8 28.97 447.49 36.87 447.49 21.06 433.8 28.97" />
      <line class="cls-54" x1="447.49" y1="52.13" x2="865.7" y2="52.13" />
      <polygon class="cls-55" points="879.4 52.13 865.71 44.23 865.71 60.04 879.4 52.13" />
      <polygon class="cls-55" points="433.8 52.13 447.49 60.04 447.49 44.23 433.8 52.13" />
      <line class="cls-54" x1="1113.9" y1="221.16" x2="1168.21" y2="221.16" />
      <polygon class="cls-55" points="1181.9 221.16 1168.21 213.25 1168.21 229.06 1181.9 221.16" />
      <line class="cls-54" x1="1329.25" y1="251.89" x2="1383.56" y2="251.89" />
      <polygon class="cls-55" points="1397.25 251.89 1383.56 243.99 1383.56 259.8 1397.25 251.89" />
      <line class="cls-54" x1="1582.88" y1="255.16" x2="1582.88" y2="200.85" />
      <polygon class="cls-55" points="1582.87 187.16 1574.97 200.85 1590.78 200.85 1582.87 187.16" />
      <line class="cls-54" x1="708.4" y1="391.04" x2="1176.73" y2="391.04" />
      <polygon class="cls-55" points="1190.42 391.04 1176.73 383.13 1176.73 398.94 1190.42 391.04" />
      <line class="cls-54" x1="449.42" y1="585.65" x2="449.42" y2="529.89" />
      <polygon class="cls-55" points="449.42 516.2 441.51 529.89 457.32 529.89 449.42 516.2" />
      <line class="cls-54" x1="449.42" y1="479.47" x2="449.42" y2="423.71" />
      <polygon class="cls-55" points="449.42 410.02 441.51 423.71 457.32 423.71 449.42 410.02" />
      <line class="cls-54" x1="951.16" y1="479.47" x2="951.16" y2="423.71" />
      <polygon class="cls-55" points="951.16 410.02 943.25 423.71 959.06 423.71 951.16 410.02" />
      <line class="cls-54" x1="1342.49" y1="479.47" x2="1342.49" y2="423.71" />
      <polygon class="cls-55" points="1342.49 410.02 1334.59 423.71 1350.39 423.71 1342.49 410.02" />
      <line class="cls-54" x1="449.42" y1="371.77" x2="449.42" y2="316.01" />
      <polygon class="cls-55" points="449.42 302.32 441.51 316.01 457.32 316.01 449.42 302.32" />
      <line class="cls-54" x1="708.45" y1="700.15" x2="708.45" y2="644.4" />
      <polygon class="cls-55" points="708.45 630.71 700.54 644.4 716.35 644.4 708.45 630.71" />
      <line class="cls-54" x1="708.45" y1="585.65" x2="708.45" y2="529.89" />
      <polygon class="cls-55" points="708.45 516.2 700.54 529.89 716.35 529.89 708.45 516.2" />
      <line class="cls-54" x1="708.45" y1="371.77" x2="708.45" y2="316.01" />
      <polygon class="cls-55" points="708.45 302.32 700.54 316.01 716.35 316.01 708.45 302.32" />
      <line class="cls-54" x1="449.42" y1="136.84" x2="449.42" y2="81.08" />
      <polygon class="cls-55" points="449.42 67.39 441.51 81.08 457.32 81.08 449.42 67.39" />
      <line class="cls-54" x1="944.28" y1="136.84" x2="944.28" y2="81.08" />
      <polygon class="cls-55" points="944.28 67.39 936.37 81.08 952.18 81.08 944.28 67.39" />
      <line class="cls-54" x1="1341.64" y1="136.84" x2="1341.64" y2="81.08" />
      <polygon class="cls-55" points="1341.64 67.39 1333.73 81.08 1349.54 81.08 1341.64 67.39" />
      <line class="cls-54" x1="15.81" y1="700.15" x2="15.81" y2="644.4" />
      <polygon class="cls-55" points="15.81 630.71 7.91 644.4 23.71 644.4 15.81 630.71" />
      <line class="cls-54" x1="15.81" y1="585.65" x2="15.81" y2="529.89" />
      <polygon class="cls-55" points="15.81 516.2 7.91 529.89 23.71 529.89 15.81 516.2" />
      <line class="cls-54" x1="15.81" y1="479.6" x2="15.81" y2="423.84" />
      <polygon class="cls-55" points="15.81 410.15 7.91 423.84 23.71 423.84 15.81 410.15" />
      <line class="cls-54" x1="15.81" y1="373.13" x2="15.81" y2="317.37" />
      <polygon class="cls-55" points="15.81 303.68 7.91 317.37 23.71 317.37 15.81 303.68" />
      <line class="cls-54" x1="15.81" y1="136.84" x2="15.81" y2="81.08" />
      <polygon class="cls-55" points="15.81 67.39 7.91 81.08 23.71 81.08 15.81 67.39" />
    </g>
  </g>
</svg>