.nav-tabs{
    margin-top: -20px;
    height: 35px;
}

.nav-tabs>li.active{
    border: none;
    height: 35px;
    
}

.nav-tabs>li.active>a{
    height: 35px;
    font-family: Arial;
    font-weight: bold;
    color: #008ecf;
    border: none ;
    border-bottom: 2px solid #008ecf;
    
}

.nav-tabs>li>a{
    height: 35px;
    font-family: Arial;
    font-weight: bold;
    
}

.nav-tabs>li:hover{
    cursor: pointer;
}

.Career{
    margin-left:173px;
}

hr{
    height:1px;
    border-width:0;
    color: #0092CB;
    background-color:#0092CB;
}

select>option{
    background-color: white;
    cursor: pointer;
}
select{
    cursor: pointer;
}