
.fakeimg {
	height: 130px;
	background: #aaa;
}

h6 {
	color: #003366;
}

.details-page{
    /* height: 101%; */
    border-radius: .3rem;
    margin-bottom: 0;
    overflow: hidden;
}

.content-block{
    margin-top:10px;
}

.custom-button{
    width: 200px;
    margin-right: 20px;
}

.show-more{
    color: cornflowerblue;
    cursor: pointer;
}

.active {
    background-color: rgb(4, 82, 37);
    color: white;
    box-shadow: 0 0 0 .2rem rgba(72,180,97,.5);
  }