<div class="container-fluid details-page" *ngIf="isLoaded">
    <div class="text-center custom-border" style="margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem; margin-bottom: 0">
        <div class = "row">
            <div class="col-md-2" *ngFor="let domain of domains">
                <button class="btn btn-success" style="width: 100%;" (click)= "changeDetailByDomain(domain.id,positionDetail.positionObj.id)">{{domain.name}}</button>
            </div>
        
            <div class="col-md-6">
                <h3>{{positionDetail.positionObj && positionDetail.positionObj.organizationObj.name}} -
                    {{positionDetail.positionObj&&positionDetail.positionObj.name}}</h3>
            </div>
        </div>
    </div>
    <div class="custom-border">
        <div class="row">
            <div class="col-md-3">
                <div class="content-block">
                    <img class="fakeimg img-responsive fit-image"
                        src="https://www.nicepng.com/png/detail/772-7726577_refrubished-employee-icon-admin-assets-upload-id.png" />
                </div>
                <div class="content-block">
                    <h4>Industrial Role</h4>
                    <div [innerHTML]="positionDetail.industrialRole"></div>
                </div>
                <div class="content-block">
                    <h4>Entry Criteria</h4>
                    <ul>
                        <li *ngFor="let cri of positionDetailEntryCriteria">{{cri}}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-block">
                    <h4>Responsibilities</h4>
                    <ul>
                        <li *ngFor="let res of positionDetailResponsibilities">{{res}}</li>
                    </ul>
                </div>
                <div class="content-block">
                    <h4>KRA (key responsible area)</h4>
                    <ul>
                        <li *ngFor="let kra of positionDetailKRA">{{kra}}</li>
                    </ul>
                </div>
                <!-- <div class="content-block">
                    <h4>Scope</h4>
                    <h5>{{positionDetail.scope}}</h5>
                </div>

                <div class="content-block">
                    <h4>Domain</h4>
                    <h5>{{positionDetail.domain}}</h5>
                </div> -->
            </div>

            <div class="col-md-3">
                <div class="content-block">
                    <h4>Career progression</h4>
                    <career-progression [sourcePositionID]="positionDetail.positionObj &&positionDetail.positionObj.id"
                        [departmentID]="positionDetail.positionObj && positionDetail.positionObj.organizationObj.id"></career-progression>  
                </div>
                <div class="content-block">
                    <h4>Competencies required</h4>
                    <ul>
                        <li *ngFor="let com of positionDetail.competencies">{{com.name}}</li>
                    </ul>
                </div>
                <!-- <div class="content-block">
                    <h4>Project Category</h4>
                    <h5>{{positionDetail.projectCategory}}</h5>
                </div>
                <div class="content-block">
                    <h4>Domain Roles</h4>
                    <h5>{{positionDetail.domainRoles}}</h5>
                </div>
                <div class="content-block">
                    <h4>Career path</h4>
                    <h5>{{positionDetail.careerPath}}</h5>
                </div> -->
            </div>
        </div>
        <div class="row" style="float: right">
            <button type="button" class="custom-button btn btn-primary" (click)="backToPositions();">Back To Previous
                Page</button>
            <button type="button" class="custom-button btn btn-primary" [routerLink]="['/position',positionDetail.positionObj.organizationObj.id]">Back To Lattice
                Page</button>
        </div>
    </div>

</div>